@model IEnumerable<Receptionist.Models.Views.InvoiceViewModel>

@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Thanh điều hướng -->
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Index")">
            Danh sách hóa đơn đã lập
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MedicalRecord")">
            Hồ sơ bệnh án chưa lập hóa đơn
        </a>
    </li>
</ul>

<form method="get" action="@Url.Action("Index")" class="container-fluid mb-4 row">
    <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm theo tên bệnh nhân hoặc bác sĩ"
           value="@ViewBag.CurrentKeyword" />
    <!-- Nút submit ẩn -->
    <button type="submit" style="display: none;"></button>
</form>

<!-- Bảng danh sách hóa đơn -->
<table class="table">
    <thead>
        <tr>
            <th>Hoá đơn số</th>
            <th>Lập bởi</th>
            <th>Họ tên bệnh nhân</th>
            <th>Ngày lập</th>
            <th>Hình thức thanh toán</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceId</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.PatientName</td>
                    <td>@item.PaymentDate</td>
                    <td>@item.PaymentMethod</td>
                    <td>
                        <a href="@Url.Action("Details", "InvoiceReceptionist", new { id = item.InvoiceId })"
                           class="btn btn-outline-primary btn-sm me-2">
                            <i class="bi bi-eye"></i> Chi tiết hóa đơn
                        </a>
                        <a href="@Url.Action("Delete", "InvoiceReceptionist", new { id = item.InvoiceId })"
                           class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> Xoá hóa đơn
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Không có dữ liệu</td>
            </tr>
        }
    </tbody>
</table>

<!-- Phân trang -->
<div>
    @if (ViewBag.TotalPages > 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, keyword = ViewBag.Keyword })">@i</a>
                </li>
            }
        </ul>
    }
</div>