@model IEnumerable<Receptionist.Models.Data.MEDICALRECORD>

@{
    ViewBag.Title = "MedicalRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="@Url.Action("Index")">
            Danh sách hoá đơn đã lập
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("MedicalRecord")">
            Hồ sơ bệnh án chưa lập hoá đơn
        </a>
    </li>
</ul>
    <!-- Form tìm kiếm -->
    <form method="get" action="@Url.Action("MedicalRecord")" class="container-fluid mb-4 row">
            <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm theo tên bệnh nhân hoặc bác sĩ"
                   value="@ViewBag.CurrentKeyword" />
        <!-- Nút submit ẩn -->
        <button type="submit" style="display: none;"></button>
    </form>


    <!-- Bảng dữ liệu -->
    <table class="table align-middle">
        <thead class="thead-dark">
            <tr>
                <th>Mã hồ sơ bệnh án</th>
                <th>Họ và tên bệnh nhân</th>
                <th>Họ và tên bác sĩ</th>
                <th>Thời gian khám</th>
                <th>Viện phí</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MEDICAL_RECORD_ID</td>
                        <td>@item.PATIENT.LAST_NAME @item.PATIENT.FIRST_NAME</td>
                        <td>@item.EMPLOYEE.LAST_NAME @item.EMPLOYEE.FIRST_NAME</td>
                        <td>@item.FOLLOW_UP_DATE</td>
                        <td>@item.HOSPITAL_FEES</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="@Url.Action("Create", new { medical_record_id = item.MEDICAL_RECORD_ID })">
                                <i class="bi bi-receipt"></i> Tạo hóa đơn
                            </a>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Phân trang -->
    <nav>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("MedicalRecord", new { page = i, keyword = ViewBag.CurrentKeyword })">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>