@model Pharmacy.Models.Data.PrecsriptionViewModel

@{
    ViewBag.Title = "Chi tiết đơn thuốc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/ConfirmedPrescriptions/ConfirmAndRedirectToPdf?id=@ViewBag.MedicalRecordId" method="post">

    <h3 class="mb-4">Chi tiết đơn thuốc</h3>

    <div class="card mb-4">
        <div class="card-header bg-light fw-bold">
            <i class="bi bi-person me-2"></i>Thông tin bệnh nhân
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-4 text-muted">Mã hồ sơ</div>
                <div class="col-8">@Model.PatientName</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">Tên bệnh nhân</div>
                <div class="col-8">@ViewBag.MedicalRecordId</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">Ngày khám</div>
                <div class="col-8">@Model.PrescriptionDate</div>
            </div>
        </div>
    </div>

    <h4>Danh sách thuốc</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Tên thuốc</th>
                <th>Liều dùng</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicine in Model.Medicines)
            {
                <tr>
                    <td>@medicine.MedicineName</td>
                    <td>@medicine.Dosage</td>
                    <td>@medicine.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-check mt-3">
        <input class="form-check-input"
               type="checkbox"
               asp-for="IsConfirmed"
               id="confirmCheck">
        <label class="form-check-label" for="confirmCheck">
            <i class="bi bi-check2-circle me-1"></i>
            Tôi xác nhận đã cấp thuốc
        </label>
    </div>
    <button type="submit" class="btn btn-primary mt-3 p-2">In đơn xác nhận</button>
</form>