@model List<Patient.Models.Data.AvailableDoctorViewModel>
@{
    ViewBag.Title = "AvailableAppointments";
}

@using (Html.BeginForm("AvailableAppointments", "AppointMent", FormMethod.Post, new
{
    @class = "container mt-4"
}))
{
    <h3 class="mb-4">Danh sách bác sĩ có lịch trống</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 10%;">Chọn</th>
                <th style="width: 30%;">Bác sĩ</th>
                <th style="width: 30%;">Phòng khám</th>
                <th style="width: 30%;">Chọn giờ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td class="text-center align-middle">
                        <input type="radio" name="selectedDoctor" id="doctor_@doctor.EmployeeId" value="@doctor.EmployeeId"
                            class="form-check-input" />
                    </td>
                    <td class="align-middle">
                        <label for="doctor_@doctor.EmployeeId" class="form-check-label">
                            @doctor.EmployeeName
                        </label>
                    </td>
                    <td class="align-middle">
                        @doctor.EmployeeRoom
                    </td>
                    <td class="align-middle">
                        <select name="selectedHour" id="selectedHour" class="form-select">
                            <option value="" disabled selected>Chọn giờ</option>
                            @foreach (var hour in doctor.FreeHours)
                            {
                                <option value="@hour.ToString("HH:mm")">@hour.ToString("HH:mm")</option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-none">
        <input type="text" name="PatientAppointmentDate" value="@ViewBag.AppointmentDate" class="form-control" />
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
    </div>
}
