@model Pharmacy.Models.Data.MEDICINE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc chắn xoá loại thuốc này?</h3>
<div class="row mt-4">
    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Nhà cung cấp</div>
        <div class="col-9">@Html.DisplayFor(model => model.SUPPLIER.SUPPLIER_NAME)</div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Tên thuốc</div>
        <div class="col-9">@Html.DisplayFor(model => model.MEDICINE_NAME)</div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Đơn vị</div>
        <div class="col-9">@Html.DisplayFor(model => model.UNIT)</div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Số lượng</div>
        <div class="col-9">@Html.DisplayFor(model => model.STOCK_QUANTITY)</div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Ngày hết hạn</div>
        <div class="col-9">@Model.EXPIRATION_DATE.ToString("dd/MM/yyyy")</div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div class="col-3 fw-bold">Giá</div>
        <div class="col-9">@Html.DisplayFor(model => model.PRICE)</div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xoá thuốc" class="btn btn-danger mt-3" />
    </div>
}