\@model Pharmacy.Controllers.MEDICINEsController.Temp

@{
    ViewBag.Title = "MedicineOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Chi tiết đơn đặt hàng</h2>

<form action="" method="post">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row" class="text-start">Tên thuốc</th>
                <td>@Model.medicineName</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Nhà cung cấp</th>
                <td>@Model.SuplierName</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Đơn vị</th>
                <td>@Model.Unit</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Số lượng</th>
                <td>@Model.Stock</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Ngày hết hạn</th>
                <td>@Model.ExprirationDate</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Giá</th>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Xác nhận</th>
                <td>
                    <input type="checkbox" asp-for="IsConfirmed" /> Đã nhận hàng
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mt-4">
        <a href="https://localhost:44394/MEDICINEs/OrderMedicine" class="btn btn-primary btn-sm">Xác nhận</a>
    </div>
</form>
