@model IEnumerable<Pharmacy.Models.Data.OrderView>

@{
    ViewBag.Title = "OrderMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách hoá đơn nhập thuốc</h2>

<a href="/MEDICINEs/Order" class="btn btn-secondary">Thêm đơn đặt thuốc</a>

<table class="table">
    <tr>
        <th>
            Dược sĩ
        </th>
        <th>
            Tên thuốc
        </th>
        <th>
            Nhà cung cấp
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Trạng thái
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr style="cursor: pointer;" onclick="location.href='@Url.Action("MedicineOrderDetail", "MEDICINEs", new { medicineOrderConfirmID = item.MEDICINE_ORDER_ID} )'">
            <td>
                @($"{item.EmployeeName}")
            </td>
            <td>
                @item.MEDICINE_NAME
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suplier_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REGISTRATION_DATE)
            </td>
            <td>
                Đã nhận đơn hàng
            </td>
        </tr>
    }


</table>

