@model Admin.Models.Data.EMPLOYEE

@{
    ViewBag.Title = "Chi tiết nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="javascript:history.back()" class="btn btn-secondary me-2">
    <i class="fas fa-arrow-left"></i> Quay lại
</a>
@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.EMPLOYEE_ID }, new { @class = "btn btn-warning me-2" })
@Html.ActionLink("Xóa", "Delete", new { id = Model.EMPLOYEE_ID }, new { @class = "btn btn-danger" })

<div class="row">
    <h3 class="mb-3 mt-4">Thông tin chi tiết nhân viên</h3>
    <hr class="mb-4" />

    <div class="row mb-4">
        <!-- Cột bên trái -->
        <div class="col-md-6">
            <dl>
                <dt>Tên đăng nhập:</dt>
                <dd>@Model.EMPLOYEEACCOUNT.EMPLOYEE_USERNAME</dd>

                <dt>Họ và Tên:</dt>
                <dd>@Model.FIRST_NAME @Model.LAST_NAME</dd>

                <dt>Ngày sinh:</dt>
                <dd>@Model.DATE_OF_BIRTH.ToString("dd/MM/yyyy")</dd>

                <dt>Giới tính:</dt>
                <dd>
                    @if (Model.GENDER == "M")
                    {
                        @:Nam
                    }
                    else if (Model.GENDER == "F")
                    {
                        @:Nữ
                    }
                    else
                    {
                        @:Khác
                    }
                </dd>

                <dt>Email:</dt>
                <dd>@Model.EMPLOYEE_EMAIL</dd>
            </dl>
        </div>
        <!-- Cột bên phải -->
        <div class="col-md-6">
            <dl>
                <dt>Số điện thoại:</dt>
                <dd>@Model.EMPLOYEE_PHONE</dd>

                <dt>Địa chỉ:</dt>
                <dd>@Model.EMPLOYEE_ADDRESS</dd>

                <dt>Chức vụ:</dt>
                <dd>@Model.ROLE_NAME</dd>

                <dt>Phòng ban:</dt>
                <dd>@Model.DEPARTMENT</dd>

                <dt>Phòng làm việc:</dt>
                <dd>@Model.EMPLOYEE_ROOM</dd>

                <dt>Ngày tuyển dụng:</dt>
                <dd>@Model.HIRE_DATE.ToString("dd/MM/yyyy")</dd>
            </dl>
        </div>
    </div>
</div>