@model Admin.Models.Data.EMPLOYEE

@{
    ViewBag.Title = "Chỉnh sửa thông tin nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group row">
    <div class="col-md-9 mb-4">
        <a href="javascript:history.back()" class="btn btn-outline-secondary"> <i class="bi bi-arrow-left"></i> Quay lại</a>
        <input type="submit" value="Lưu thay đổi" class="btn btn-warning" />
    </div>
</div>

    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-2">Chỉnh sửa thông tin nhân viên</h2>

            @using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal mt-4">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <!-- Mã nhân viên -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.EMPLOYEE_ID, "Mã nhân viên", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.EMPLOYEE_ID, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.EMPLOYEE_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Họ nhân viên -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.LAST_NAME, "Họ", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Tên nhân viên -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.FIRST_NAME, "Tên", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Ngày sinh -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.DATE_OF_BIRTH, "Ngày sinh", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.DATE_OF_BIRTH, new { @class = "form-control", type = "date", @Value = Model.DATE_OF_BIRTH.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(model => model.DATE_OF_BIRTH, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Giới tính -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.GENDER, "Giới tính", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(model => model.GENDER, "M", new { @class = "form-check-input" }) Nam
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(model => model.GENDER, "F", new { @class = "form-check-input" }) Nữ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(model => model.GENDER, "O", new { @class = "form-check-input" }) Khác
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.EMPLOYEE_EMAIL, "Email", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EMPLOYEE_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMPLOYEE_EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Điện thoại -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.EMPLOYEE_PHONE, "Số điện thoại", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EMPLOYEE_PHONE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMPLOYEE_PHONE, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Địa chỉ -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.EMPLOYEE_ADDRESS, "Địa chỉ", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EMPLOYEE_ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMPLOYEE_ADDRESS, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Chức vụ -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.ROLE_NAME, "Chức vụ", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ROLE_NAME,
                        new SelectList(new[] { "Doctor", "Receptionist", "Pharmacist", "Admin" }),
                        "- Chọn chức vụ -",
                        new { @class = "form-control", id = "roleDropdown" })
                    @Html.ValidationMessageFor(model => model.ROLE_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Phòng ban -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.DEPARTMENT, "Phòng ban", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.DEPARTMENT,
                        new SelectList(new[] { "Cardiology", "Pediatrics", "Dermatology", "Pharmacy", "Administration", "IT" }),
                        "- Chọn phòng ban -",
                        new { @class = "form-control", id = "departmentDropdown" })
                    @Html.ValidationMessageFor(model => model.DEPARTMENT, "", new { @class = "text-danger" })
                </div>
            </div>


            <!-- Phòng làm việc -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.EMPLOYEE_ROOM, "Phòng làm việc", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EMPLOYEE_ROOM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMPLOYEE_ROOM, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Ngày tuyển dụng -->
            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.HIRE_DATE, "Ngày tuyển dụng", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.HIRE_DATE, new { @class = "form-control", type = "date", @Value = Model.HIRE_DATE.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(model => model.HIRE_DATE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            }
        </div>
    </div>