@model IEnumerable<Patient.Models.Data.EMPLOYEE>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEEACCOUNT.EMPLOYEE_USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OF_BIRTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE_PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROLE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIRE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE_ROOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEEACCOUNT.EMPLOYEE_USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIRST_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_OF_BIRTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HIRE_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_ROOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTMENT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EMPLOYEE_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EMPLOYEE_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EMPLOYEE_ID })
            </td>
        </tr>
    }

</table>
