
@{
    ViewBag.Title = "ConfirmBooking";
}

<div>
    <p><strong>Họ:</strong> @ViewBag.Lastname</p>
    <p><strong>Tên:</strong> @ViewBag.Firstname</p>
    <p><strong>Số điện thoại:</strong> @ViewBag.Phone</p>
    <p><strong>Địa chỉ:</strong> @ViewBag.Address</p>
    <p><strong>Ngày sinh:</strong> @ViewBag.Dob</p>
    <p><strong>Email:</strong> @ViewBag.Email</p>
    <p><strong>Liên hệ khẩn cấp:</strong> @ViewBag.EmergencyContact</p>
    <p><strong>Chuyên khoa:</strong> @ViewBag.Specialty</p>
    <p><strong>Giới tính:</strong> @ViewBag.Gender</p>
    <p><strong>Ngày hẹn:</strong> @ViewBag.AppointmentDate</p>
</div>


