@model Admin.Models.Data.PATIENT

@{
    ViewBag.Title = "Delete Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="javascript:history.back()" class="btn btn-outline-secondary"> <i class="bi bi-arrow-left"></i> Quay lại</a>
<div class="row">

    <h3 class="text-danger mb-3 mt-3">Bạn có chắc chắn xoá bệnh nhân này không</h3>

    @using (Html.BeginForm("Delete", "Patients", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <dl class="inline-dl">
            <dt>Tên đăng nhập</dt>
            <dd>@Model.PATIENTACCOUNT.PATIENT_USERNAME</dd>

            <dt>Họ và tên</dt>
            <dd>@Model.LAST_NAME @Model.FIRST_NAME</dd>

            <dt>Ngày sinh</dt>
            <dd>@Model.DATE_OF_BIRTH.ToString("dd/MM/yyyy")</dd>

            <dt>Giới tính</dt>
            <dd>
                @if (Model.GENDER == "M")
                {
                    @:Nam
                }
                else if (Model.GENDER == "F")
                {
                    @:Nữ
                }
                else
                {
                    @:Khác
                }
            </dd>

            <dt>Ngày đăng ký</dt>
            <dd>@Model.REGISTRATION_DATE.ToString("dd/MM/yyyy")</dd>
        </dl>



        <div class="form-group">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger me-2" />
        </div>
    }
</div>
